body {
  padding: 15px;
}

#highest-priority-task {
  font-size: 24px;
  display: block;
}

.task-list {
  font-size: 24px;
}

.task-text {
  flex: 1;
}

.task-index {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.move-button {
  font-size: 16px;
  margin: 1px;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}
